<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>F:\fruit\FruitPro.git\trunk\MyLuaGame\simulator\win32\MyLuaGame.exe</StartProgram>
    <StartArguments>-workdir F:\fruit\FruitPro.git\trunk\MyLuaGame</StartArguments>
    <StartWorkingDirectory>F:\fruit\FruitPro.git\trunk\MyLuaGame</StartWorkingDirectory>
  </propertyGroup>
</Project>